<h1>Create a new album</h1>

<form id = "albumform" action=" <%= albums_url %> " method="post">

<input type="hidden" name="authenticity_token" value" <%= form_authenticity_token %> "

<label> Title
  <input type="text" name="album[title]">
 </label>

 <label> Band
   <select name="album[band_id]" form ="albumform">
     <%= @bands.each do |band| %>
     <option value=" <%= band.id %> ">
     <%=band.name%></option>
     <% end %>
   </select>
 </label>

 <label>
   <input type="radio" name="user[live]" value="true"> Live
   <input type="radio" name="user[live]" value="false"> Studio
 </label>

 <label> Year
   <input type="text" name="album[year]">
 </label>

 <input type="submit"> Create Album!

</form>
